.header {
	&_top {
		position: relative;
		display: grid;
		align-items: center;
		grid-template-areas: "burger logo search";
		grid-template-columns: 2.1875rem 1fr 1.8242rem;
		padding: 2rem 0 1rem;

		@media (min-width: 767.98px) {
			padding: 1.8125rem 0 1.5625rem;
		}

		@media (max-width: 767.98px) {
			transition: margin 0.3s ease;
			&.open {
				margin-bottom: 2.375rem;
			}
		}
	}
	&_bottom {
		border-top: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
	}

	.logo {
		display: flex;
		justify-content: center;
		grid-area: logo;
		align-content: center;
	}

	.search_btn {
		grid-area: search;
		margin-left: auto;
		padding: 0.3125rem;
		margin-right: -0.3125rem;

		img {
			width: 1.2rem;
			height: 1.2rem;
			object-fit: contain;
		}
	}

	.input {
		box-sizing: border-box;
		position: absolute;
		z-index: 1;
		background: #fff;
		border: none;
		outline: 0;
		transition: opacity 0.3s ease, visibility 0.3s ease;

		@media (min-width: 767.98px) {
			top: calc(50% - 0.625rem);
			right: 1.875rem;
			padding: 0.3125rem 0.3125rem 0.1875rem;
			border-bottom: 1px solid #e9e9e9;
		}

		@media (max-width: 767.98px) {
			top: 100%;
			left: 0;
			right: 0;
			width: calc(100vw - 2.5rem);
			padding: 0.3125rem 0.625rem;
			border: 1px solid #e9e9e9;
			border-radius: 1rem;
		}

		opacity: 0;
		visibility: hidden;

		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
}
