.posts {
	margin-bottom: 6.25rem;
	@media (min-width: 767.98px) {
		margin-bottom: 10.3125rem;
	}

	.empty {
		margin-top: 1rem;
	}
	.spinner_wrapper {
		display: flex;
		flex-direction: column;
		min-height: 70vh;
	}
}

.list {
	display: grid;
	gap: 32px;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}

	@media (min-width: 479.98px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 32px 25px;
	}
	@media (min-width: 767.98px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 48px 40px;
	}
}
